$topOne: 10%;
$topTwo: 60%;
$expBoxHeight: 9rem;


.text-muted{
  color: #c1c5ca!important;
}

.line{
  background-color: white;
  border-radius: 10px;
  width: 0.2rem;
  height: 0rem;
  display: inline-block;
  transition: all 500ms ease-in;
}
.col-1{
  max-width: max-content;
}
:host ::ng-deep .circle{
    width: 30px;
    height: 30px;
    border: 9px solid #0c1b1c;
    background-color: white;
    position: absolute;
    border-radius: 100%;
    opacity: 0;
    transition: all 1000ms linear; 
  }
:host ::ng-deep .line{
      background-color: white;
      position: absolute;
      top: 22px;
      left: 4.5px;
      border-radius: 10px;
      width: 0.2rem;
      // height: 10rem;
      display: inline-block;
      transition: all 2000ms ease-in;
    }
.experience-box
{
  // width: min-content;
  padding: 1rem 2rem;
  // border: 1px solid white;
  background-color: #ef230c;
  margin-bottom: 10rem;
  position: relative;
  left: 30px;
  opacity: 0;
  transition: all 1000ms ease-in;
  box-shadow: 2px 2px 2px black;
  &:before{
    content: '';
    background-color: inherit;
    position: absolute;
    top: 15%;
    width: 15px;
    height: 15px;
    left: -1%;
    transform: rotate(45deg);
  }
  & > h3{
    font-size: 2.75rem;
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
  }
  & p{
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 1px;
    color: white;
  }
}
