$topOne: 10%;
$topTwo: 60%;
$expBoxHeight: 9rem;


.text-muted{
  color: #c1c5ca!important;
}

.line{
  background-color: white;
  border-radius: 10px;
  width: 0.2rem;
  height: 0rem;
  display: inline-block;
  transition: all 500ms ease-in;
}
.col-1{
  max-width: max-content;
}
.experienceBox
{
  // width: min-content;
  padding: 1rem 2rem;
  border: 1px solid white;
  left: 30px;
  opacity: 0;
  transition: all 500ms ease-in;
  & p{
    color: white;
  }
  &:nth-child(1){
    position: absolute;
    top: #{$topOne};
  }
  &:nth-child(2){
    position: absolute;
    top: #{$topTwo};
  }
}

.circle{
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
  opacity: 0;
  transform: scale(0);
  transition: all 500ms ease-in;
  background-color: white;
  &:nth-child(1){
    position: absolute;
    top: calc( #{$topOne} + #{$expBoxHeight}/2 - 5px );
    left: 10px;
  }
  &:nth-child(2){
    position: absolute;
    top: calc( #{$topTwo} + #{$expBoxHeight}/2 - 5px );
    left: 10px;
  }
}
