<section id="projects">
    <div class="container">
        <div class="row">
            <div class="heading-wrapper">
                <h1
                    class="display-4"
                    #heading
                >
                    Projects
                </h1>
            </div>
        </div>
        <div class="row">
            <div
                [class]="'col-' + (width >= 500 ? ('md-' + (projects.length >= 3 ? 4 : 6)) : 'sm-12')"
                *ngFor="let item of projects"
            >
                <div
                    class="card"
                    [style]="{'background-color' : '#'+item.color}"
                    (mouseenter)="over($event)"
                    (mouseleave)="out($event)"
                    #cards
                >
                    <div class="title">{{item.title}}</div>
                    <div class="body">{{item.description}}</div>
                </div>
            </div>
        </div>
    </div>
</section>
