<section id="intro">
  <div class="container">
    <div class="row align-items-center mb-3">
      <div class="col-md-4 col-sm-12 round d-flex justify-content-center">
        <img
          src="https://dl.dropboxusercontent.com/s/8t51tjnnhsc9qvl/img-2.JPG?dl=0"
          class="img-thumbnail rounded disp-img"
          alt=""
        />
      </div>
      <div class="col-md-8 col-sm-12 overflow-hidden">
        <h1 class="display-3">Hi There!</h1>
        <h1 class="display-4">My name is Ankit Kumar</h1>
        <p class="white desc text-justify mt-2" id="typedtext" #intro>
          <!-- I am a Full-Stack Web Developer, currently working for Tech Mahindra. For a long time now, I have been obsessed with Web Desgining and love the way how different components and modules intregate with each others and create wonders. -->
        </p>
      </div>
    </div>
  </div>
</section>
