<main [@routeAnimation]="prepareRoute(myOutlet)" class="content">
  <router-outlet #myOutlet="outlet"></router-outlet>
</main>

<div class="my-nav-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-1">
        
      </div>
      <div class="col-10 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button
            type="link"
            class="btn btn-secondary"
            [routerLink]="['']"
          >
            Intro
          </button>
          <button
            type="link"
            class="btn btn-secondary"
            [routerLink]="['/experience']"
          >
            Technical Experience
          </button>
          <button
            type="link"
            class="btn btn-secondary"
            [routerLink]="['/projects']"
          >
            Projects Undertaken
          </button>
          <button
            type="link"
            class="btn btn-secondary"
            [routerLink]="['/skills']"
          >
            Skills
          </button>
<!--           <button
            type="link"
            class="btn btn-secondary"
            [routerLink]="['/education']"
          >
            Education Details
          </button> -->
          <button
            type="link"
            class="btn btn-secondary"
            [routerLink]="['/hobbies']"
          >
            Hobbies and Interests
          </button>
        </div>
      </div>
      <div class="col-1">
        <button class="btn btn-primary grey"><span class="material-icons">chat</span></button>
      </div>
    </div>
  </div>
</div>