<my-intro></my-intro>

<my-objective></my-objective>

<my-qualifications></my-qualifications>

<my-experience></my-experience>

<my-projects></my-projects>

<my-hobbies></my-hobbies>

<div class="my-nav-container">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button
            type="button"
            class="btn btn-secondary"
            onclick='show("intro")'
          >
            Intro
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            onclick='show("career")'
          >
            Career Objective
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            onclick='show("education")'
          >
            Education Details
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            onclick='show("experience")'
          >
            Technical Experience
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            onclick='show("projects")'
          >
            Projects Undertaken
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            onclick='show("hobbies")'
          >
            Hobbies and Interests
          </button>
        </div>
      </div>
    </div>
  </div>
</div>