.btn.grey{
	background-color: #6c757d;
	border-color: #6c757d;
	width: 3rem;
    height: 3rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}