<main [@routeAnimation]="prepareRoute(myOutlet)" class="content">
  <router-outlet #myOutlet="outlet"></router-outlet>
</main>

<div class="my-nav-container">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button
            type="link"
            class="btn btn-secondary"
            [routerLink]="['']"
          >
            Intro
          </button>
          <button
            type="link"
            class="btn btn-secondary"
            [routerLink]="['/career-objective']"
          >
            Career Objective
          </button>
          <button
            type="link"
            class="btn btn-secondary"
            [routerLink]="['/experience']"
          >
            Technical Experience
          </button>
          <button
            type="link"
            class="btn btn-secondary"
            [routerLink]="['/projects']"
          >
            Projects Undertaken
          </button>
          <button
            type="link"
            class="btn btn-secondary"
            [routerLink]="['/education']"
          >
            Education Details
          </button>
          <button
            type="link"
            class="btn btn-secondary"
            [routerLink]="['/hobbies']"
          >
            Hobbies and Interests
          </button>
        </div>
      </div>
    </div>
  </div>
</div>