<section id="career">
  <div class="container">
    <div class="row">
      <div class="heading-wrapper">
        <h1 class="display-4" #heading>Career Objective</h1>
      </div>
    </div>
    <div class="col-12">
      <p class="white desc text-justify mt-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
        viverra eleifend quam, vel vulputate dui mollis eu. Maecenas id
        malesuada est. Sed sagittis sit amet sapien vitae hendrerit. Curabitur
        id dapibus libero. Maecenas sed dignissim magna.
      </p>
    </div>
  </div>
</section>