<section id="education">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-4">Education Details</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img
            src="https://images.pexels.com/photos/207692/pexels-photo-207692.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Higher Secondary School</h5>
            <!--           <p class="card-text">I have completed my X from Army School Bolarum, Secundrabad</p> -->
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <b>School: </b>Army School Bolarum, Secundearbad
            </li>
            <li class="list-group-item">
              <b>Board: </b>Cenral Board of Secondary Education
            </li>
            <li class="list-group-item"><b>CGPA: </b>9.9/10</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link btn">See Details</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img
            src="https://images.pexels.com/photos/207691/pexels-photo-207691.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Senior Secondary School</h5>
            <!--           <p class="card-text">I have completed my X from Army School Bolarum, Secundrabad</p> -->
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <b>School: </b>Bhavan's Sri Ramakrishna Vidyalaya, Secundearbad
            </li>
            <li class="list-group-item">
              <b>Board: </b>Cenral Board of Secondary Education
            </li>
            <li class="list-group-item"><b>%age: </b>83</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link btn">See Details</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img
            src="https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Engineering</h5>
            <!--           <p class="card-text">I have completed my X from Army School Bolarum, Secundrabad</p> -->
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <b>University: </b>Lovely Professional University, Jalandhar
            </li>
            <li class="list-group-item">
              <b>Board: </b>Lovely Professional University
            </li>
            <li class="list-group-item"><b>CGPA: </b>8.8</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link btn">See Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>